/* Apply this CSS method to truncate article descriptions */
.article--description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.article--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    margin: auto;
}
.article--heading > * {
    text-align: center;
}
.article--img {
    height: auto;
    width: 100%;
    object-position: 50% 50%;
    aspect-ratio: 2 / 1;
    object-fit: cover;
}
.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
}
article {
    display: grid;
    max-width: 50%;
    flex-basis: 50%;
    padding: 20px;
}
.article--card {
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    border: 1px solid gray;
    overflow: hidden;
}

.article--meta {
    flex: 0 1 auto;
    margin-bottom: 16px;
}

.article--header {
    flex: 0 1 auto;
    padding-bottom: 16px;
}
.article--header p {
    padding-top: 8px;
}
.article--button {
    display: flex;
    flex-grow: 1;
    align-self: flex-end;
}
.article--button a {
    align-self: flex-end;
}

.article--author,
.article--date {
    display: inline;
}
.article--body {
    padding: 0.8em;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.article--meta span {
    padding: 0 10px 0 10px;
}
