.table-container {
    max-width: 100%;
    margin: 0 auto;
}

.table-row {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid currentColor;
    background-color: #f5f5dc;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.table-row:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 20px solid currentColor;
}

.table-row:last-child {
    margin-bottom: 0;
}

.table-cell-left {
    width: 35%;
    padding: 20px 40px;
    background-color: white;
    border-right: 1px solid currentColor;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-cell-right {
    width: 65%;
    padding: 20px 40px;
    display: flex;
    align-items: center;
}

.table-cell-left p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
}

.table-cell-right p {
    margin: 0;
    font-size: 0.9rem;
    color: #333;
    font-weight: 400;
}

@media only screen and (max-width: 768px) {
    .table-cell-left {
        padding: 20px;
    }

    .table-cell-right {
        padding: 20px;
    }
    .EuropeanaDemo {
        width: 100%;
        height: auto;
    }
}
