.home-intro {
    max-width: 1400px;
    margin: 4rem 20px;
    display: flex;
    justify-self: center;
    border-bottom: 0.6px solid currentColor;
    /* background: rgba(96, 36, 165, 0.1);
    border-radius: 10px;
    line-height: 1.65;
    color: inherit;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.04); */
}

#projects {
    scroll-margin-top: 60px;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem auto;
}

.filter-btn {
    padding: 0.6rem 1rem;
    font-family: "Century Gothic", "Inter", sans-serif;
    padding: 0.6rem 1rem;
    min-width: 130px;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid currentColor;
    background: transparent;
    color: currentColor;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.light .filter-btn:hover {
    background: #111111;
    color: #f8f8f4;
}

.dark .filter-btn:hover {
    background: #eeeeee;
    color: #252526;
}

.light .filter-btn.active {
    background-color: #111111;
    color: #f8f8f4;
}

.dark .filter-btn.active {
    background-color: #eeeeee;
    color: #252526;
}

.home-intro p {
    margin: auto;
}

#intro-line {
    width: 50%;
    font-family: "Roboto Serif", serif;
    font-size: 3.3rem;
    line-height: 1.3;
    max-width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-right: 0.6px solid currentColor;
    padding: 1.8rem;
    font-weight: 600;
    letter-spacing: 0px;
}

.greeting {
    display: none;
}
.greeting .wave {
    display: none;
    /* display: inline-block;
    transform-origin: 70% 70%;
    animation: wave 1.2s ease-in-out 0s 3; */
}

/* .intro-name p {
    font-weight: 400;
} */

#subintro-line {
    font-family: "Century Gothic", "Inter", sans-serif;
    font-size: 1.2rem;
    width: 50%;
    padding: 1.8rem;
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }
    15% {
        transform: rotate(14deg);
    }
    30% {
        transform: rotate(-8deg);
    }
    45% {
        transform: rotate(14deg);
    }
    60% {
        transform: rotate(-4deg);
    }
    75% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.container {
    width: 100%;
    max-width: 860px;
    justify-content: center;
    padding: 2em 0;
    margin: auto;
}

.project-cards {
    padding-bottom: 4em;
    margin: auto;
}

@media only screen and (min-width: 1201px) and (max-width: 1400px) {
    #intro-line {
        width: 50%;
        font-size: 2.8rem;
    }
    #subintro-line {
        width: 50%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
    .home-intro {
        display: block;
        margin: 3rem auto;
    }

    #intro-line {
        width: 100%;
        font-size: 2.6rem;
        border-right: none;
        border-bottom: 0.6px solid currentColor;
        padding: 0.8rem;
    }
    #subintro-line {
        width: 100%;
        font-size: 0.9rem;
        padding: 0.8rem;
    }
}

@media only screen and (max-width: 768px) {
    .home-intro {
        display: block;
        margin: 3rem auto;
    }

    #intro-line {
        width: 100%;
        font-size: 1.2rem;
        border-right: none;
        border-bottom: 0.6px solid currentColor;
        padding: 0.8rem;
    }
    #subintro-line {
        width: 100%;
        font-size: 0.9rem;
        padding: 0.8rem;
    }

    #projects {
        scroll-margin-top: 20px;
    }

    .project-cards {
        max-width: 100%;
        display: block;
    }
    .container {
        padding: 2em 0;
    }
}

.role-container {
    display: inline-block;
    vertical-align: top;
    height: 1.3em;
    overflow: hidden;
    position: relative;
}

.role-container .role {
    display: block;
    height: 1.3em;
    line-height: 1.3em;
    animation: roll 9s infinite steps(3);
}

@keyframes roll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-300%);
    }
}
