.home-intro {
    max-width: 1400px;
    margin: 4rem 20px;
    /* padding: 1rem 0; */
    /* text-align: center; */
    display: flex;
    justify-self: center;
    border-bottom: 0.6px solid currentColor;
    /* background: rgba(96, 36, 165, 0.1);
    border-radius: 10px;
    line-height: 1.65;
    color: inherit;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.04); */
}

#projects {
    scroll-margin-top: 60px;
}

.home-intro p {
    margin: auto;
}

#intro-line {
    font-family: "Roboto Serif", serif;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 1.3;
    max-width: 100%;
    /* text-align: center; */
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-right: 0.6px solid currentColor;
    padding: 1.8rem;
    font-weight: 600;
    letter-spacing: 0px;
}
/* .home-intro strong {
    font-weight: 600;
    letter-spacing: 0px;
} */

/* Waving hand animation */
.greeting .wave {
    display: inline-block;
    transform-origin: 70% 70%;
    animation: wave 1.2s ease-in-out 0s 5;
}
#subintro-line {
    font-size: 1.25rem;
    padding: 1.8rem;
    /* max-width: 860px; */
    /* text-align: center; */
    /* margin-top: 2rem;
    margin-bottom: 2rem; */
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }
    15% {
        transform: rotate(14deg);
    }
    30% {
        transform: rotate(-8deg);
    }
    45% {
        transform: rotate(14deg);
    }
    60% {
        transform: rotate(-4deg);
    }
    75% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.container {
    width: 100%;
    max-width: 860px;
    justify-content: center;
    padding: 2em 0;
    margin: auto;
}

.project-cards {
    padding-bottom: 4em;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    .home-intro {
        display: block;
        margin: 3rem auto;
    }

    #intro-line {
        font-size: 1.2rem;
        border-right: none;
        border-bottom: 0.6px solid currentColor;
        padding: 0.8rem;
    }
    #subintro-line {
        font-size: 0.9rem;
        padding: 0.8rem;
    }

    #projects {
        scroll-margin-top: 20px;
    }

    .project-cards {
        max-width: 100%;
        display: block;
    }
    .container {
        padding: 2em 0;
    }
}
