.project-card--container {
    position: relative;
    height: auto;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.project-card--img {
    max-width: 100%;
    /* width: 860px; */
    height: auto;
    object-fit: cover;
    overflow: hidden;
    display: block;
    /* border-radius: 14px; */
}

.project-card--title {
    font-size: 1.4em;
}

.project-card--link {
    font-size: 16px;
}

.project-card--content {
    padding-top: 0.5em;
    padding-bottom: 1em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    background-color: #ffffff;
    color: #111111;
}

@media only screen and (max-width: 768px) {
    .project-card--container {
        border-radius: 8px;
    }
    .project-card--title {
        font-size: 1.2em;
    }
}
