.page-container h2 {
    margin-top: 6rem;
}
.page-container h3 {
    margin-top: 2rem;
}

.page-container h4,
.page-container h5,
.page-container h6,
.page-container p,
.page-container ol,
.page-container ul {
    margin-top: 1rem;
    margin-bottom: 8px;
}
/* .page-container ul,
.page-container ol {
    margin-block-start: 0.4em;
    margin-block-end: 1em;
    padding-inline-start: 1em;
} */

.content {
    flex-grow: 1;
    padding: 1em;
    height: 100%;
}

.page-container {
    max-width: 1024px;
    margin: auto;
    padding: 0 12px 6em 12px;
}

.page-container img {
    border-radius: 14px;
}

.project-meta {
    margin-bottom: 0;
}

figure {
    margin-top: 1em;
    margin-bottom: 2em;
}

figcaption {
    text-align: center;
    font-size: 14px;
    color: gray;
}

.inline-bracket {
    font-size: 14px;
    color: gray;
}

.italic {
    font-weight: 500;
    color: #af7aed;
    font-style: italic;
}
.center {
    width: 100%;
    margin: 2rem auto;
}
.center li {
    width: 50%;
    margin: 0 auto;
}
.no-bullets {
    list-style: none;
}
.no-bullets li {
    padding-bottom: 1rem;
}
.flex {
    display: flex;
    gap: 2rem;
    margin: 1rem 0;
}
.two-col {
    width: 50%;
}
.three-col {
    width: 33%;
}

@media only screen and (max-width: 768px) {
    .page-container {
        padding: 0 0 6em 0;
    }
    .project-meta {
        font-size: 13px;
    }
    .flex {
        flex-direction: column;
        gap: 0;
    }
    .two-col {
        width: 100%;
    }
    .three-col {
        width: 100%;
    }
}
