.page-container h3,
.page-container h4,
.page-container h5,
.page-container h6,
.page-container p {
    padding-top: 8px;
    padding-bottom: 8px;
}
.page-container ul,
.page-container ol {
    margin-block-start: 0.4em;
    margin-block-end: 1em;
    padding-inline-start: 1em;
}

.content {
    flex-grow: 1;
    padding: 1em;
    height: 100%;
    /* overflow-y: scroll; */
}

.project-cards {
    padding-bottom: 4em;
    margin: auto;
}

.container {
    width: 100%;
    max-width: 700px;
    justify-content: center;
    padding: 2em 1em;
    margin: auto;
}
.page-container {
    max-width: 1000px;
    margin: auto;
    padding: 0 1em 6em 1em;
}
.page-container h2 {
    margin-top: 30px;
}
.page-container h3 {
    margin-top: 20px;
}
.page-container img {
    border-radius: 14px;
}
.persona {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px 0;
}
.persona img {
    min-width: 120px;
    max-width: 120px;
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 2em 0;
    }
    .page-container {
        padding: 0 0 6em 0;
    }
    .project-meta {
        font-size: 13px;
    }
}
