.project-card--container {
    position: relative;
    height: auto;
    border: 1px solid currentColor;
    border-radius: 14px;
    overflow: hidden;
}

.project-card--img {
    max-width: 100%;
    object-fit: cover;
    overflow: hidden;
    display: block;
    /* border-radius: 14px; */
}

/* .project-card--title {
    
} */

/* .project-card--excerpt {
} */

.project-card--link {
    font-size: 16px;
}

/* .overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    max-height: 450px;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    opacity: 1;
    font-size: 20px;
    padding: 20px;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.4, 0, 0, 1);
} */

/* .project-card--container {
   
} */
.project-card--content {
    padding-top: 0.5em;
    padding-bottom: 1em;
    padding-left: 0.8em;
    padding-right: 0.8em;
}
