* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    width: 100vw;
    overflow: hidden;
}

main {
    min-height: 100vh;
    width: 100svw;
    /* position: relative; */
    padding: 1rem 3rem;
}

.dot {
    width: 20px;
    height: 20px;
    background-color: #ead200;
    /* border: 4px dotted #ead200; */
    border-radius: 50%;
    position: fixed;
    top: -10px;
    left: -10px;
    transition: transform 0.5s ease-out;
    -webkit-transition: transform 0.5s ease-out;
    -o-transition: transform 0.5s ease;
    z-index: 999;
}
/* .dark .dot {
    background-color: white;
} */

#header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 2rem;
    border-bottom: 1px dotted black;
    max-width: 1400px;
    margin: auto auto 2rem auto;
}
/* .light #header {
    border-bottom: 1px dotted black;
} */
.dark #header {
    border-bottom: 1px dotted white;
}

a {
    display: inline-block;
    position: relative;
    color: #000;
    text-decoration: none;
}
a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 1px;
    bottom: 0;
    left: 0;
    background: currentcolor;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}
a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

button {
    cursor: pointer;
}

.theme-switcher--container {
    text-align: center;
}
.theme-switcher--container button:nth-child(2) {
    background-color: #000000;
}
.theme-switcher--container button:nth-child(2):disabled {
    background-color: revert;
}

.theme-switcher {
    border: 4px solid rgb(0 0 0 / 50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-indent: -9999px;
    margin: 2px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.light {
    background-color: #fcfcfc;
    color: #111111;
}

.dark,
.dark a {
    background-color: #111111;
    color: #fcfcfc;
}

/* .surprise,
.surprise a {
    background-color: blue;
    color: white;
} */
.menu a {
    margin-left: 1.4rem;
    font-size: 14px;
}
img {
    height: auto;
    width: auto;
}
.logo {
    font-size: 1.4rem;
    font-weight: 700;
    font-family: Big Caslon, Georgia, Cambria, "Times New Roman", Times, serif;
}
h1,
h2 {
    font-family: Big Caslon, Georgia, Cambria, "Times New Roman", Times, serif;
    padding-bottom: 8px;
}

.container {
    width: 50%;
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
    padding: 2em;
}

.container:nth-child(odd) {
    /* border-right: 1px dotted black; */
    /* padding-right: 2em; */
}
.dark .container:nth-child(odd) {
    /* border-right: 1px dotted white; */
}
.container:nth-child(even) {
    /* padding-left: 2em; */
}

.project-cards {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    max-width: 1400px;
    margin: auto;
}
@media only screen and (max-width: 768px) {
    .project-cards {
        max-width: 100%;
        display: block;
    }
    .container {
        width: 100%;
    }
}
