* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    width: 100vw;
}

main {
    height: 100vh;
    width: 100svw;
    /* position: relative; */
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* .dot {
    width: 20px;
    height: 20px;
    background-color: #ead200;
    border-radius: 50%;
    position: fixed;
    top: -10px;
    left: -10px;
    transition: transform 0.5s ease-out;
    -webkit-transition: transform 0.5s ease-out;
    -o-transition: transform 0.5s ease-out;
    z-index: 999;
} */

.light {
    background-color: #f2f0e6;
    color: #111111;
}

.dark {
    background-color: #191919;
    color: #fcfcfc;
}

.surprise {
    background-color: #ebe6f2;
    color: #111111;
}

.theme-switcher {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #111111;
    text-indent: -9999px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    vertical-align: middle;
    margin-right: 8px;
}

.theme-switcher--container {
    text-align: right;
    border-bottom: 1px solid #111111;
    padding-right: 1.5em;
    padding-bottom: 2px;
}
.theme-switcher--container button:nth-child(1) {
    background-color: #f2f0e6;
}
.theme-switcher--container button:nth-child(1):disabled {
    background-color: #f2f0e6;
    width: 14px;
    height: 14px;
}
.theme-switcher--container button:nth-child(2) {
    background-color: #191919;
}
.theme-switcher--container button:nth-child(2):disabled {
    background-color: #191919;
    width: 14px;
    height: 14px;
}
.theme-switcher--container button:nth-child(3) {
    background-color: #ebe6f2;
}
.theme-switcher--container button:nth-child(3):disabled {
    background-color: #ebe6f2;
    width: 14px;
    height: 14px;
}

#header {
    position: sticky;
    top: 0;
    z-index: 1000;
    border-right: 1px dotted currentColor;
    /* flex: 0 0 250px; */
    width: 250px;
    visibility: visible;
    transition: transform 0.4s ease-out;
    /* transition: flex 0.4s ease-out; */
}
#header.show-header {
    flex: 0 0 250px;
    visibility: visible;
    transform: translateX(0);
}

#header.hide-header {
    flex: 0 0 0px;
    width: 0px;
    visibility: hidden;
    transform: translateX(-250px);
}

a {
    position: relative;
    color: currentColor;
    text-decoration: none;
}
a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 1px;
    bottom: 0;
    left: 0;
    background: currentcolor;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}
a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

button {
    cursor: pointer;
}
/* button:disabled {
    cursor: none;
} */

.menu-container {
    padding-left: 1.5em;
}

.menu li {
    list-style: none;
    font-family: "Big Caslon", Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 3em;
    padding-top: 0.5em;
}
img {
    height: auto;
    width: auto;
}
#close-button {
    font-size: 40px;
    cursor: pointer;
}
#open-button {
    position: sticky;
    top: 0;
    font-size: 40px;
    cursor: pointer;
}
.logo {
    padding-top: 2em;
    padding-bottom: 1em;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    /* font-family: Big Caslon, Georgia, Cambria, "Times New Roman", Times, serif; */
    margin-bottom: 1em;
}
h1,
h2 {
    font-family: Big Caslon, Georgia, Cambria, "Times New Roman", Times, serif;
    padding-bottom: 8px;
}

.content {
    flex-grow: 1;
    padding: 1em;
}

.project-cards {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.container {
    width: 100%;
    max-width: 700px;
    padding-bottom: 2em;
    justify-content: center;
    padding: 2em;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    .project-cards {
        max-width: 100%;
        display: block;
    }
    .container {
        width: 100%;
    }
    #header {
        flex: 0 0 0;
        visibility: hidden;
    }
    #header.show-header {
        position: sticky;
        top: 0;
        z-index: 1000;
        flex: 0 0 100%;
        visibility: visible;
    }
    #header.hide-header {
        flex: 0 0 0;
        visibility: hidden;
        transform: translateX(-100%);
    }
}
