@font-face {
    font-family: "Century Gothic";
    src: url(/fonts/centurygothic.ttf);
}
@font-face {
    font-family: "Century Gothic Bold";
    src: url(/fonts/centurygothic_bold.ttf);
}

:root {
    font-family: "Century Gothic", "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.7;
    font-size: 18px;
    color-scheme: light;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
